<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EXPRESS EJS Runthrough</title>
    <meta name='description' content="For practice purposes">
    <meta property="og:image" content="">


    <link rel="icon" type="image/png" sizes="32x32" href="/wolf.png" />

    <link rel="stylesheet" href="/compiled.css">
</head>

<body>