<nav class="site-menu">
    <a href="/">
        <div class="logo-container">
            <picture class="phrase-logo">
                <img src="/images/pokelab.png" alt="">
            </picture>
            <picture class="ball-logo">
                <img src="/images/pokeball.png" alt="">
            </picture>
        </div>
    </a>

    <ul>
        <li>
            <a class='button' href="/pokemons">Pokes</a>
        </li>
    </ul>
</nav>