.site-header {
	inner-column {
		padding-top: 10px;
		padding-bottom: 0;
	}
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	ul {
		display: flex;
		justify-content: flex-end;
	}

	>a {
		position: relative;

		.phrase-logo {
			max-width: 150px;
		}

		.ball-logo {
			max-width: 70px;
			position: absolute;
			top: -8px;
			left: 33%;
			z-index: -50;
			transform: rotate(30deg);
		}
	}
}