<%- include ('../partials/header') %>

<section>
    <inner-column>

        <module>
            <h1>404</h1>
            <p>No path at <%=query%></p>
        </module>

    </inner-column>
</section>

<%- include ('../partials/footer') %>