<%- include ('../partials/header') %>

<section>
    <inner-column>

        <module>
            <h1>This is the home page</h1>
        </module>

    </inner-column>
</section>


<%- include ('../partials/footer') %>