<%- include ('../partials/header') %>

<section>
	<inner-column>
		<module>
			<ul>

				<%- include ('../partials/poke-card',{ pokemons: pokemons }) %>

			</ul>
		</module>
	</inner-column>
</section>


<%- include ('../partials/footer') %>